@media {
    /* Hide container icon on sidebar*/
    .zen-current-workspace-indicator {
        visibility: collapse !important;
    }

    /* Hide tab close icon */
    .titlebar-buttonbox-container {
        visibility: collapse !important;
    }

    @-moz-document url-prefix("chrome:") {
        /* Rounded statusbar */
        #statuspanel {
            margin: 10px !important;
        }

        #statuspanel-label {
            padding: 2px 8px !important;
        }
    }
    
    /* Fix kinda not-centered navbar */
    #nav-bar {
        padding-right: 12px !important;
    }
    
    /* Hide tab close icon */
    .tab-close-button {
        display: none !important;
    }
}
