@media (prefers-color-scheme: dark) {

  :root {
    --zen-colors-primary: #c6d0f510 !important;
    --zen-primary-color: #c6d0f5 !important;
    --zen-colors-secondary: #292c3c !important;
    --zen-colors-tertiary: #303446 !important;
    --zen-colors-border: #414559 !important;
    --toolbarbutton-icon-fill: #c6d0f5 !important;
    --lwt-text-color: #c6d0f5 !important;
    --toolbar-field-color: #c6d0f5 !important;
    --tab-selected-textcolor: #c6d0f5 !important;

    --toolbar-field-focus-color: #c6d0f5 !important;
    --toolbar-color: #c6d0f5 !important;
    --newtab-text-primary-color: #c6d0f5 !important;
    --arrowpanel-color: #c6d0f5 !important;
    --arrowpanel-background: #303446 !important;
    --sidebar-text-color: #c6d0f5 !important;
    --lwt-sidebar-text-color: #c6d0f5 !important;
    --lwt-sidebar-background-color: #303446 !important;
    --toolbar-bgcolor: #292c3c !important;
    --newtab-background-color: #303446 !important;
    --zen-themed-toolbar-bg: #303446 !important;
    --zen-main-browser-background: #303446 !important;

    --panel-item-hover-bgcolor: #c6d0f510 !important;
    --button-hover-bgcolor: #c6d0f510 !important;
  }

  #tabbrowser-tabs {
    --tab-selected-bgcolor: #c6d0f520 !important;
    --tab-hover-background-color: #c6d0f510 !important;
  }

  #permissions-granted-icon{
    color: #303446 !important;
  }

  .sidebar-placesTree {
    background-color: #303446 !important;
  }

  #zen-workspaces-button {
    background-color: #303446 !important;
  }

  #TabsToolbar {
    background-color: #303446 !important;
  }

  #urlbar-background {
    background-color: #292c3c !important;
  }

  .content-shortcuts {
    background-color: #303446 !important;
    border-color: #c6d0f5 !important;
  }

  .urlbarView-url {
    color: #c6d0f5 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #232634 !important;
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked]) > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack){
        fill: #232634;
      }
    }
  }

  .titlebar-buttonbox-container {
    visibility: collapse !important;
  }

  .identity-color-blue {
    --identity-tab-color: #8caaee !important;
    --identity-icon-color: #8caaee !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #81c8be !important;
    --identity-icon-color: #81c8be !important;
  }

  .identity-color-green {
    --identity-tab-color: #a6d189 !important;
    --identity-icon-color: #a6d189 !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #e5c890 !important;
    --identity-icon-color: #e5c890 !important;
  }

  .identity-color-orange {
    --identity-tab-color: #ef9f76 !important;
    --identity-icon-color: #ef9f76 !important;
  }

  .identity-color-red {
    --identity-tab-color: #c6d0f5 !important;
    --identity-icon-color: #c6d0f5 !important;
  }

  .identity-color-pink {
    --identity-tab-color: #f4b8e4 !important;
    --identity-icon-color: #f4b8e4 !important;
  }

  .identity-color-purple {
    --identity-tab-color: #ca9ee6 !important;
    --identity-icon-color: #ca9ee6 !important;
  }
}
