@import "theme.css";

@media (prefers-color-scheme: dark) {
  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: var(--text) !important;
      --color-accent-primary: var(--text) !important;
      --color-accent-primary-hover: #00ff00 !important;
      --color-accent-primary-active: #ff0000 !important;
      background-color: var(--base) !important;
      --in-content-page-background: var(--base) !important;
      --in-content-button-background-hover: var(--surface0) !important;

    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: var(--mantle) !important;
      --newtab-background-color-secondary: var(--surface1) !important;
      --newtab-element-hover-color: var(--surface0) !important;
      --newtab-text-primary-color: var(--text) !important;
      --newtab-wordmark-color: var(--text) !important;
      --newtab-primary-action-background: var(--text) !important;
    }

    .icon {
      color: rgba(var(--text)/0.5) !important;
    }

    .top-site-outer .top-site-icon {
      background-color: #00000000 !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-frappe.svg"), url("https://raw.githubusercontent.com/IAmJafeth/zen-browser/main/themes/Macchiato/Lavender/zen-logo-frappe.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    .search-wrapper .search-handoff-button, .search-wrapper input {
      background-color: var(--surface0) !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: var(--text) !important;
    }

    .top-site-outer .search-topsite {
      background-color: var(--blue) !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: var(--green) !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: var(--mantle) !important;
      --in-content-text-color: var(--text) !important;
      --link-color: var(--text) !important;
      --link-color-hover: var(--subtext0) !important;
      --zen-colors-primary: var(--surface0) !important;
      --in-content-box-background: var(--surface0) !important;
      --zen-primary-color: var(--text) !important;
    }

    groupbox,
    moz-card{
      background: var(--base) !important;
    }

    button,
    groupbox menulist {
      background: var(--surface0) !important;
      color: var(--text) !important;
    }

    .main-content {
      background-color: var(--crust) !important;
    }

    .identity-color-blue {
      --identity-tab-color: var(--blue) !important;
      --identity-icon-color: var(--blue) !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: var(--teal) !important;
      --identity-icon-color: var(--teal) !important;
    }

    .identity-color-green {
      --identity-tab-color: var(--green) !important;
      --identity-icon-color: var(--green) !important;
    }

    .identity-color-yellow {
      --identity-tab-color: var(--yellow) !important;
      --identity-icon-color: var(--yellow) !important;
    }

    .identity-color-orange {
      --identity-tab-color: var(--peach) !important;
      --identity-icon-color: var(--peach) !important;
    }

    .identity-color-red {
      --identity-tab-color: var(--red) !important;
      --identity-icon-color: var(--red) !important;
    }

    .identity-color-pink {
      --identity-tab-color: var(--pink) !important;
      --identity-icon-color: var(--pink) !important;
    }

    .identity-color-purple {
      --identity-tab-color: var(--mauve) !important;
      --identity-icon-color: var(--mauve) !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: var(--mantle) !important;
      --background-color-box: var(--base) !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: var(--base) !important;
      --social-color: var(--mauve) !important;
      --cockie-color: var(--sky) !important;
      --fingerprinter-color: var(--yellow) !important;
      --cryptominer-color: var(--lavender) !important;
      --tracker-color: var(--green) !important;
      --in-content-primary-button-background-hover: var(--overlay0) !important;
      --in-content-primary-button-text-color-hover: var(--text) !important;
      --in-content-primary-button-background: var(--surface0) !important;
      --in-content-primary-button-text-color: var(--text) !important;
    }


    .card {
      background-color: var(--surface0) !important;
    }
  }
}
