@import "colors.css";

* {
	font-size: 18px;
	font-family: "JetBrainsMono NF SemiBold";
}

#waybar {
    color: @text;
	background: @base;
    border-radius: 0.5rem;
}

#battery {
	margin-left: 1.5rem;
}

#clock {
	margin-right: 1.5rem;
}

#workspaces {
	margin: -1rem;
}

#workspaces button {
    color: @overlay0;
}

#workspaces button:hover {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
	text-shadow: none;
}

#workspaces button.active {
    color: @lavender;
}
