@import "themes/mocha.css";

* {
    font-size: 17px;
    font-family: "Iosevkust NF SemiBold";
}

#waybar {
    background: transparent;
}

#waybar > box {
    color: @text;
    background: @crust;
    margin: 0px 0px 8px 0px;
    /* box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5); */
}

#network {
	margin-left: 1rem;
}

#clock {
    margin-right: 1rem;
}

#workspaces {
    margin: -1rem;
}

#workspaces button {
    color: @overlay0;
}

#workspaces button:hover {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.active {
    color: @text;
}
